<form [formGroup]="form">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" placeholder="Try admin for validation check" formControlName="username"
             [class.is-invalid]="username?.invalid && (username?.dirty || username?.touched)">
      <div class="invalid-feedback">
        <div *ngIf="username?.hasError('required')">Username is required</div>
        <div *ngIf="username?.hasError('minlength')">
          Minimum 3 characters required
        </div>
        <div *ngIf="username?.hasError('usernameTaken')">
          Username already taken
        </div>
      </div>
      <div *ngIf="username?.pending" class="text-muted">Checking username...</div>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Age</label>
      <input type="number" class="form-control" formControlName="age">
      <div class="text-danger" *ngIf="form.get('age')?.invalid">
        Age must be between 18 and 99
      </div>
    </div>
  </form>