<!-- dynamic-form.component.html -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div formArrayName="addresses">
      <div *ngFor="let address of addresses.controls; let i = index" 
           class="mb-3 border p-3">
        <div [formGroupName]="i">
          <div class="mb-3">
            <label class="form-label">Street</label>
            <input type="text" class="form-control" formControlName="street">
          </div>
          
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">City</label>
              <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="col-md-6">
              <label class="form-label">ZIP Code</label>
              <input type="text" class="form-control" formControlName="zip">
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-danger mt-2" 
                (click)="removeAddress(i)" *ngIf="addresses.length > 1">
          Remove Address
        </button>
      </div>
    </div>
  
    <button type="button" class="btn btn-secondary me-2" (click)="addAddress()">
      Add Address
    </button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>